html{
    scroll-behavior: smooth;
}
body{
    background-color:#0B060D ;
    font-family: "Roboto";
    color: azure; 
}

.menu{
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;


}
.menu_logo{
    max-width: 60px;
    cursor: pointer;
    transition: 0.5s  ease-in-out;  
} 
/* Animação suave: class:hover transform com scale() e colocar uma transition com tempo e ease-in-out  */
.menu_logo:hover{
    transform: scale(1.1);
}

.menu_lista{
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_lista_item{
    font-size: 20px;
    color: #A66AEB;
    font-family: "Press Start 2P" ;
    text-decoration: none;
    transition: 0.2s  ease-in-out
}
.menu_lista_item:hover{
    color: #7B6AEB;
    
}
.menu_curriculo{
    font-family: "Press Start 2p";
    background-color:#A66AEB ;
    color: azure;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.2s  ease-in-out
}
.menu_curriculo:hover{
    background-color:#7B6AEB ;
}
.home{
    height:100vh;
    /* background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbW0zMnA2OWg5azgwMGRwbmR4eDJ4MmhreHM4bWwzMmN6NGZmYmRiZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NKEt9elQ5cR68/giphy.gif"); */
    /* background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDJna2Q1Y3ZpZ3BkZ3BnYWd5dGpyb3VxYzJxZzk5YW4zamNjdzIydiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5e25aUTZPcI94uMZgv/giphy.gif"); */
    background-image: url("https://64.media.tumblr.com/9d8985b8b2a520ad98933b360c45ede6/dbde3b1346a79b62-4e/s1280x1920/bced6f3134ab1efbc5b5456b8c2909c9bb33edae.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.home_infos{
    background-color: #0b060dad;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0 0 50px 50px;
    gap: 20px;
}
.home_img{
    max-width: 400px;
    border-radius: 50%;
    border-width: 10px;
    border-style: double;
    border-color: azure;

}

.home_nome{
    font-family: "Press Start 2p";
    font-size: 40px;
    padding: 20px;
}
.home_area{
    font-family: "Press Start 2p";
    font-size: 20px;
    color: #A66AEB;
}


.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    margin: 90px auto;
    gap: 30px;
    min-height: 100vh;
    border-top: solid #1bdad2;
    border-bottom: solid #1bdad2;
    border-width: 10px;



}

.sobre_infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.sobre_titulo{
    font-size: 80px;
    font-family: "Press Start 2p";
    position: relative;
}
.sobre_titulo::before{
    content: "";
    background-image: url("https://cdn-icons-png.flaticon.com/512/2619/2619057.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    position:absolute;
    top: -70px;
    left: -70px;
    z-index: -1;
}
.sobre_texto{
    font-size: 24px;
    font-family: "Roboto";
    

}

.sobre_imagem{
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #1bdad2;
    max-width: 400px;
}

.cursos{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    margin: 90px auto;
    gap: 100px;
    min-height: 100vh;
    border-bottom: solid #1bdad2;
    border-width: 10px;
    padding-bottom: 50px;


}
.cursos_titulo{
    font-size: 150px;
    font-family: "Press Start 2P";
    word-wrap: break-word;
    max-width: 500px;
}
.cursos_lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}
.curso{
    background-color: #020205;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    font-family: "Roboto";
    box-shadow: 5px 5px 20px #a66aebce;
}



.curso_titulo{
    color: #6A81EB;
    font-size: 24px;
    position: relative;
}
.curso_titulo::before{
    content:"" ;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.432) 0%, rgba(106, 130, 235, 0.452) 43%, rgba(123,106,235,1) 100%);;
    border-radius: 5px;
    width: 20px;
    height: 30px;
    position:absolute;
    top: 0px;
    left: -30px;
    ;
    

}
.curso_subtitulo{
    color: #7B6AEB;
    font-size: 15px;
}

.curso_texto{
    color: azure;
    font-size: 18px;
    line-height: 1.5;
}
.curso_duracao{
    color: #1bdad2;
    
}
.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 90px auto;
    gap: 100px;
    min-height: 100vh;
    border-bottom: solid #1bdad0;
    border-width: 10px;

}
.projeto_lista{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 50px;
    
    
}
.projetos_titulo{
    font-size: 80px;
    font-family: "Press Start 2p";
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.projetos_titulo::before{
content: "";
background-image: url("https://cdn-icons-png.flaticon.com/512/2619/2619057.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 120px;
height: 120px;
position:absolute;
top: -70px;
left: -70px;
z-index: -1;
}
.projeto{
    background-color: #020205;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 5px 20px #a66aebce;
    gap: 150px;
}

.projeto_conteudo{
    font-weight: bold;
    font-family: "Roboto";
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.projeto_img{
    justify-content: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50px;
    margin:  0px auto 0px 50px;
}

.projeto_titulo{
    font-weight: bold;
    font-family: "Roboto";
    color: #6A81EB;
    font-size: 24px;
    position: relative;
}

.projeto_subtitulo{
    font-weight: bold;
    font-family: "Roboto";
    color: #7B6AEB;
    font-size: 15px;
}
.projeto_texto{
    color: azure;
    font-size: 18px;
    line-height: 1.5;
}

.projeto_link{
    font-family: "Press Start 2p";
    font-size: 15px;
    color: #6A81EB;
    
}

.projeto_link{
    text-decoration: none;
}
.projeto_link:hover{
    text-decoration: none;
    color: #A66AEB
}



@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.botao_interativo {
	position: relative;
	z-index: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    
    
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #000000;
		background-repeat: no-repeat;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#7B6AEB, #6a82eb00);
		animation: rotate 3s  infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
        background-size: 100px;
        background-image: url("https://th.bing.com/th/id/OIG.haiSSczXDFMlq2CSVJBK?pid=ImgGn");
		border-radius: 50%;
        
    }
    
}

/* 
#6A81EB
#A66AEB
#7B6AEB
#6AAAEB
#CF6AEB
#1D0F21
#04E9CE
#27d1d4
#1bdad2
 */